---
import "../style/styles.css";
---

<div class="full_width_line"></div>

<style>
  .full_width_line {
    width: 100%;
    height: fit-content;
    border-bottom-style: solid;
    border-width: 0.0625rem;
  }
</style>
