---
import "../style/styles.css";
---

<div class="gradient"></div>

<style>
  .gradient {
    width: 1244px;
    height: 1263px;
    flex-shrink: 0;
    border-radius: 1263px;
    background: radial-gradient(
      50.06% 50% at 50.06% 50%,
      var(--green) 0%,
      var(--off_white) 100%
    );
  }
</style>
